#MainContainer {
    padding: 5%;
    outline: auto;
}

.selector {
    padding: 2%;
}

#TopBar {
    outline: auto;
}

/* .selected {
    background-color: yellow;
}

.unselected {
    background-color: lightgray;
} */